@tailwind base;
@tailwind components;
@tailwind utilities;




.fondo{
  background: radial-gradient(circle at 50% 24%, #ff2323 -10%, transparent 10%);
  background-repeat: no-repeat;
  
}
@media (min-width:768px){
  .fondo{
      background: radial-gradient(circle at 51% 15%, #ff2323 -5%, transparent 7%),
                  radial-gradient(circle at 140% 60%, #ff2323 0%, transparent 10%);
      background-repeat: no-repeat;

  }
}
@media (min-width:1024px){
  .fondo{
      background: radial-gradient(circle at 78% 7%, #ff2323 -5%, transparent 7%),
                  radial-gradient(circle at 140% 60%, #ff2323 0%, transparent 10%);
      background-repeat: no-repeat;

  }
}

.card-red{
  background: radial-gradient(circle at bottom, #ff2323 -60%, #1c1c1c 110% );
}
.card-gray {
  background: radial-gradient(circle at bottom, #6b7280 -60%, #1c1c1c 110%);
}

.animate-scroll{
 animation-name: animate-scroll;
 animation-duration: var(--duration,20s);
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}

@keyframes animate-scroll{
 0%{
  transform: translateX(0%);
 }

 100%{
  transform: translateX(-50%);
 }
}

.animate-scroll-center{
 animation-name: animate-scroll-center;
 animation-duration: var(--duration,20s);
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}

@keyframes animate-scroll-center{
 0%{
  transform: translateX(-50%);
 }

 100%{
  transform: translateX(0%);
 }
}

.link-transition{
  animation-name: link-transition;
  animation-duration: 1s;
}

@keyframes link-transition{

  0%{
        opacity: 0;
        transform: scale(0.7,0.7);
    }

    100%{
        opacity: 1;
        transform: scale(1,1);
    }
  
}